// 文章
.article{
    width:100%;
    height:11.7rem;
    background-color:#f3f2f2;
    // 固定大盒子
    .article_maxbox{
        width:7.1rem;
        height:10.34rem;
        position: relative;
        left:0.2rem;
        top:0.68rem;
        background-color: white;
        border-radius: 0.2rem;
        overflow: hidden;
        // 小盒子
        .article_box{
            width:7.1rem;
            height:10.34rem;
            overflow-y: auto;
            overflow-x: hidden;
            // 文章标题
            .article_head{
                width: 100%;
                height: auto;
                font:bold 0.34rem "微软雅黑";
                color: #333333;
                padding: 0.32rem 0 0 0.2rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 
                img{
                    width:5%;
                }
            }
            .article_info{
                width: 100%;
                height: auto;
                padding: 0.2rem 0 0.34rem 0.2rem;
                position: relative;
                .article_img{
                    width:10%;
                    display: inline-block;
                    img{
                        width: 100%;
                    }
                }
                .article_message{
                    width: 30%;
                    height: auto;
                    display: inline-block;
                    position: absolute;
                    left: 1rem;
                    p{
                        font:0.22rem "微软雅黑";
                        color:#333333;
                    }
                    span{
                        width: auto;
                        font:0.22rem "微软雅黑";
                        color:#6f6f6f;
                        display: inline-block;
                        margin-top: 0.06rem;
                    }
                }
            }
            // 文章内容
            .article_content{
                width: 100%;
                height: auto;
                .article_contentHead{
                    width: 95%;
                    height: auto;
                    text-indent: 0.65rem;
                    margin-left: 0.2rem;
                    font:lighter 0.32rem "微软雅黑";
                    color:#333333;
                }
                .article_banner{
                    width: 80%;
                    height: auto;
                    margin: 0.5rem auto;
                    img{
                        width: 100%;
                    }
                }
                .article_content2{
                    width: 95%;
                    height: auto;
                    text-indent: 0.65rem;
                    margin-left: 0.2rem;
                    font:lighter 0.32rem "微软雅黑";
                    color:#333333;
                } 
            }
            // 评论和点赞
            .article_comment{
                width: 100%;
                height:auto;
                padding: 0.3rem 0 0.34rem 0;
                position: relative;
                .article_messageimg{
                    width: 22%;
                        height:auto;
                        text-align: left;
                        display: inline-block;
                        position: absolute;
                        right: 1.1rem;
                    img{
                        width: 20%;
                    }
                    span{
                        width: 100%;
                        height: auto;
                        font: 0.24rem "微软雅黑";
                        color:#616161;
                    }
                }
                .article_loveimg{
                    width: 22%;
                    height:auto;
                    display: inline-block;
                    text-align: left;
                    position: absolute;
                    right: -0.2rem;
                    img{
                        width: 20%;
                    }
                    span{
                        width: 100%;
                        height: auto;
                        font: 0.24rem "微软雅黑";
                        color:#616161;
                    }
                }
            }
            // 暂无评论图片
            .article_btn{
                width: 50%;
                height: auto;
                margin:0.5rem auto;
                img{
                    width: 100%;
                }
            }
            // 填写评论
            .article_reply{
                width: 100%;
                height:auto;
                position: relative;
                bottom: 0.2rem;
                .article_input{
                    width: 5.34rem;
                    height: 0.62rem;
                    border-radius: 0.1rem;
                    margin-left: 0.2rem;
                    background-color: #f2f2f2;
                    display: inline-block;
                    input{
                        display: inline-block;
                        width: 5.34rem;
                        height: 0.62rem;
                        padding-left: 0.8rem;
                    }
                    img{
                        display: inline-block;
                        position: absolute;
                        top: 0.1rem;
                        left: 0.2rem;
                        margin-left: 0.2rem;
                    }
                }
                .article_comment2{
                    width: 1.2rem;
                    height: 0.62rem;
                    display: inline-block;
                    background-color: #dd8447;
                    margin-right: 0.2rem;
                    float: right;
                    color: white;
                    font-size: 0.3rem;
                    padding: 0.15rem 0.3rem;
                    border-radius: 0.1rem;
                
                }
            }
        }  
    }
}