.beforetime_user{
    background-color: #ffffff;
    padding: .4rem 0 .5rem .2rem;
    .title{
        font-size: .3rem;
        font-weight: normal;
        color: #333333;
        margin-bottom: .3rem;
    }
    .userImg_show{

    }
}