// 文章
.article {
    width: 100%;
    background-color: #ffffff;
    height: 12rem;
    overflow-y: auto;
    overflow-x: hidden;
    // 固定大盒子
    .article_maxbox {
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: .2rem;
        overflow: hidden;
        
        // 小盒子
        .article_box {
            width: 100%;
            height: auto;
            overflow-y: auto;
            overflow-x: hidden;

            // 文章标题
            .article_head {
                width: 85%;
                font: bold 0.34rem "微软雅黑";
                color: #333333;
                position: relative;
                padding: 0 0 .2rem .2rem;
                display: -moz-box;  /* Firefox */ 
                display: -ms-flexbox;    /* IE10 */ 
                display: -webkit-box;    /* Safari */  
                display: -webkit-flex;    /* Chrome, WebKit */ 
                display: box;  
                display: flexbox;
                display: flex;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                align-items: center;
                font: bold 0.34rem "微软雅黑";
                color: #333333;
                span {
                    padding-top: .32rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                img {
                    margin-top: .32rem;
                    height: .3rem;
                    width: 0.3rem;
                    margin-left: 0.1rem;
                }
            }

            // 文章题主
            .article_info {
                width: 100%;
                height: auto;
                padding: 0.2rem 0 0.34rem 0.2rem;
                position: relative;

                .article_img {
                    width: 100%;
                    display: inline-block;

                    img {
                        width: 0.8rem;
                        height: 0.8rem;
                        border-radius: 50%;
                    }
                }

                .article_message {
                    height: auto;
                    display: inline-block;
                    position: absolute;
                    left: 1.12rem;
                    top:0.3rem;

                    p {
                        font: 0.22rem "微软雅黑";
                        color: #333333;
                    }

                    span {
                        width: auto;
                        font: 0.22rem "微软雅黑";
                        color: #6f6f6f;
                        display: inline-block;
                        margin-top: 0.06rem;
                    }
                }
            }

            // 文章内容
            .article_content {
                width: 100%;
                height: auto;

                .article_contentHead {
                    width: 95%;
                    height: auto;
                    text-indent: 0.65rem;
                    margin-left: 0.2rem;
                    font: lighter 0.32rem "微软雅黑";
                    color: #333333;
                }

                .article_banner {
                    width: 80%;
                    height: auto;
                    margin: 0.5rem auto;

                    img {
                        width: 100%;
                    }
                }

                .article_content2 {
                    width: 95%;
                    height: auto;
                    text-indent: 0.65rem;
                    margin-left: 0.2rem;
                    font: lighter 0.32rem "微软雅黑";
                    color: #333333;
                }
            }

            // 评论和点赞
            .comment_area{
                width: 100%;
                height: auto;
                overflow: hidden;
                .article_comment {
                    padding: 0.3rem 0.2rem 0.34rem 0;
                    position: relative;
                    float: right;
    
                    .article_messageimg {
                        text-align: left;
                        display: inline-block;
                        margin-right: 0.4rem;
    
                        img {
                            width:0.3rem;
                            height: 0.3rem;
                        }
    
                        span {
                            font: 0.24rem "微软雅黑";
                            color: #616161;
                            margin-left: 0.05rem;
                        }
                    }
    
                    .article_loveimg {
                        display: inline-block;
                        text-align: left;
                        margin-right: 0.4rem;
    
                        .heart {
                            width: .3rem;
                            height: .3rem;
                            background: url('../../src/assets/img/index/aixin1.png') no-repeat;
                            background-size: 100% 100%;
                            display: inline-block;
                            position: relative;
                            top: 0.06rem;
                        }
    
                        .aheart {
                            width: .3rem;
                            height: .3rem;
                            background: url('../../src/assets/img/index/dianzan1.png') no-repeat;
                            background-size: 100% 100%;
                            display: inline-block;
                            position: relative;
                            top: 0.06rem;
                        }
    
                        span {
                            font: 0.24rem "微软雅黑";
                            color: #616161;
                            margin-left: 0.05rem;
                        }
                    }
                    .shoucang{
                        display: inline-block;
                        position: relative;
                        top: 0.03rem;
                        .shoucang_img1 {
                            width: .3rem;
                            height: .3rem;
                            background: url('../../src/assets/img/index/shoucang1.png') no-repeat;
                            background-size: 100% 100%;
                            display: inline-block;
                        }
    
                        .shoucang_img2{
                            width: .3rem;
                            height: .3rem;
                            background: url('../../src/assets/img/index/shoucang_1.png') no-repeat;
                            background-size: 100% 100%;
                            display: inline-block;
                        }
                        span{
                            width: 100%;
                            height: auto;
                            font: 0.24rem "微软雅黑";
                            color: #616161;
                            margin-left: 0.05rem;
                            position: relative;
                            top: -0.03rem;
                        }
                    }
                }
            }

            // 暂无评论图片
            .article_btn {
                width: 50%;
                height: auto;
                margin: 0.5rem auto;

                img {
                    width: 100%;
                }
                p{
                    width:100%;
                    font: 0.32rem "微软雅黑";
                    color: #616161;
                    text-align: center;
                }
            }
            .comment_box{
                width: 100%;
                margin-bottom: 1rem;
                .comment_top {
                    width: 100%;
                    height: auto;
                    border-top: 1px solid #f2f2f2;
    
                    .comment_center {
                        width: 100%;
                        height: auto;
                        padding: 0.28rem 0 0 0.2rem;
                        position: relative;
    
                        .comment_img {
                            display: inline-block;
    
                            img {
                                width: 0.8rem;
                                height: 0.8rem;
                                border-radius: 50%;
                            }
                        }
    
                        .comment_name {
                            display: inline-block;
                            margin-left: 0.16rem;
                            position: absolute;
                            top: 0.35rem;
    
                            p {
                                width: 100%;
                                font: 0.26rem "微软雅黑";
                                color: #6f6f6f;
                            }
    
                            span {
                                width: 100%;
                                font: 0.26rem "微软雅黑";
                                color: #6f6f6f;
                            }
                        }
    
                        .comment_loveimg {
                            width: 38%;
                            height: auto;
                            display: inline-block;
                            margin-left: 0.16rem;
                            text-align: left;
                            position: absolute;
                            right: -1.55rem;
    
                            .heart_comm {
                                width: .3rem;
                                height: .3rem;
                                background: url('../../src/assets/img/index/aixin1.png') no-repeat;
                                background-size: 100% 100%;
                                display: inline-block;
                            }
    
                            .aheart_comm {
                                width: .3rem;
                                height: .3rem;
                                background: url('../../src/assets/img/index/dianzan1.png') no-repeat;
                                background-size: 100% 100%;
                                display: inline-block;
                            }
    
                            span {
                                width: 100%;
                                height: auto;
                                font: 0.24rem "微软雅黑";
                                color: #616161;
                                margin-left: 0.05rem;
                                position: relative;
                                top: -0.06rem;
                            }
                        }
                    }
    
                    h6 {
                        width: 82%;
                        height: auto;
                        font: lighter 0.32rem "微软雅黑";
                        color: #333333;
                        margin-left: 1.15rem;
                    }
    
                    .huifu {
                        display: inline-block;
                        font: 0.24rem "\5FAE\8F6F\96C5\9ED1";
                        color: #6299e7;
                        border-bottom: 1px solid #6299e7;
                        position: relative;
                        left: 6.2rem;
                        margin-bottom: 0.2rem;
                    }
    
                    //评论
                    .commenta {
                        width: 100%;
                        height: auto;
                        padding: 0.2rem 0 0 0;
                        border-top: 1px solid #f2f2f2;
                        display: -moz-box;  /* Firefox */ 
                        display: -ms-flexbox;    /* IE10 */ 
                        display: -webkit-box;    /* Safari */  
                        display: -webkit-flex;    /* Chrome, WebKit */ 
                        display: box;  
                        display: flexbox;
                        display: flex;
                        justify-content: center;
    
                        .commentator {
                            width: 25%;
                            height: auto;
                            margin-left: 0.2rem;
    
                            .commentator_img {
                                width: 1.2rem;
                                height: 1.2rem;
                                display: inline-block;
                                border-radius: 50%;
                                overflow: hidden;
    
                                img {
                                    width: 100%;
    
                                }
                            }
    
                            .commen_by {
                                width: 100%;
                                height: auto;
    
                                .commen_name {
                                    width: 100%;
                                    height: auto;
                                    font: 0.26rem "微软雅黑";
                                    color: #333333;
                                    padding: 0.1rem 0 0 0;
                                }
    
                                .commen_age {
                                    width: 100%;
                                    height: auto;
                                    font: lighter 0.26rem "微软雅黑";
                                    color: #6f6f6f;
                                    padding: 0.1rem 0 0 0;
    
                                    img {
                                        width: 20%;
                                        margin-left: 0.1rem;
                                    }
                                }
    
                                .commen_time {
                                    width: 100%;
                                    height: auto;
                                    font: lighter 0.26rem "微软雅黑";
                                    color: #6f6f6f;
                                    padding: 0.08rem 0 0 0;
                                }
                            }
                        }
    
                        .commen_articlerf {
                            width: 75%;
    
                            .commen_articlebox {
                                width: 100%;
                                display: -moz-box;  /* Firefox */ 
                                display: -ms-flexbox;    /* IE10 */ 
                                display: -webkit-box;    /* Safari */  
                                display: -webkit-flex;    /* Chrome, WebKit */ 
                                display: box;  
                                display: flexbox;
                                display: flex;
                                justify-content: center;
    
                                .commen_articleimg {
                                    border: 1px solid #f3f0f0;
                                    border-radius: 0.2rem;
                                    margin-right: 0.16rem;
                                    width: 1.5rem;
                                    height: 1.4rem;
                                    display: inline-block;
                                    overflow: hidden;
    
                                    img {
                                        width: 100%;
                                    }
                                }
                            }
    
                            .commen_article {
                                width: 98%;
                                height: auto;
                                font: lighter 0.32rem "微软雅黑";
                                color: #333333;
                                float: right;
    
                                span {
                                    font: 0.24rem "微软雅黑";
                                    color: #6299e7;
                                    border-bottom: 1px solid #6299e7;
                                }
                            }
    
                            .commen_bottom {
                                width: 100%;
                                height: auto;
                                padding: 0.3rem 0 0.34rem 0;
                                display: -moz-box;  /* Firefox */ 
                                display: -ms-flexbox;    /* IE10 */ 
                                display: -webkit-box;    /* Safari */  
                                display: -webkit-flex;    /* Chrome, WebKit */ 
                                display: box;  
                                display: flexbox;
                                display: flex;
    
                                .commen_messageimg {
                                    width: 30%;
                                    height: auto;
                                    text-align: left;
                                    position: relative;
                                    right: -2.6rem;
    
                                    img {
                                        width: 20%;
                                    }
    
                                    span {
                                        width: 100%;
                                        height: auto;
                                        font: 0.24rem "微软雅黑";
                                        color: #616161;
                                        margin-left: 0.1rem;
                                    }
                                }
    
                                .commen_loveimg {
                                    width: 30%;
                                    height: auto;
                                    text-align: left;
                                    position: relative;
                                    right: -2.3rem;
    
                                    img {
                                        width: 20%;
                                    }
    
                                    span {
                                        width: 100%;
                                        height: auto;
                                        font: 0.24rem "微软雅黑";
                                        color: #616161;
                                        margin-left: 0.1rem;
                                    }
                                }
                            }
                        }
    
                    }
                }
            }
            
            .more {
                width: 100%;
                height: 1.5rem;
                line-height: 1.5rem;
                text-align: center;
                font-size: 0.2rem;
                color: #959895;
            }

            .noMore{
                width: 100%;
                height: 1rem;
                text-align: center;
                font-size: .3rem;
                color:#6f6f6f;
                background-color: #ffffff;
            }
            // 填写评论
            .article_reply {
                width: 100%;
                height: auto;
                display: flex;
                position: fixed;
                left: 0;
                bottom: 0;
                padding: 0.2rem 0;
                background-color: white;
                z-index: 999;
                .article_input {
                    width: 5.7rem;
                    height: 0.62rem;
                    border-radius: 0.1rem;
                    margin-left: 0.2rem;
                    background-color: #f2f2f2;
                    display: inline-block;

                    input {
                        display: inline-block;
                        width: 5.7rem;
                        height: 0.62rem;
                        padding-left: 0.8rem;
                    }

                    img {
                        display: inline-block;
                        position: absolute;
                        top: 0.3rem;
                        left: 0.2rem;
                        margin-left: 0.2rem;
                    }
                }

                .article_comment2 {
                    width: 1.2rem;
                    height: 0.62rem;
                    display: inline-block;
                    background-color: #dd8447;
                    margin-left: 0.2rem;
                    float: right;
                    color: white;
                    font-size: 0.3rem;
                    text-align: center;
                    line-height: 0.62rem;
                    border-radius: 0.1rem;

                }
            }
            
        }
    }
}