.cr_question {
    padding: .3rem .2rem 0;
    background-color: #ffffff;
    .cr_question_list {
        background-color: #ffffff;
        display: -moz-box;  /* Firefox */ 
        display: -ms-flexbox;    /* IE10 */ 
        display: -webkit-box;    /* Safari */  
        display: -webkit-flex;    /* Chrome, WebKit */ 
        display: box;  
        display: flexbox;
        display: flex;
        justify-content: center;
        padding: .22rem .1rem .15rem .2rem;
        border-radius: .1rem;
        margin-bottom: .15rem;
        box-shadow: 1px 1px 5px 2px rgba(123, 123, 123, 0.1);

        .num {
            // width: .72rem;
            font-size: .34rem;
            font-weight: 1000;
            margin-top: .01rem;
            // text-align: right;
        }

        .content {
            -prefix-box-flex: 1; 
            -webkit-box-flex: 1; 
            -webkit-flex: 1; 
            -moz-box-flex: 1; 
            -ms-flex: 1;
            flex: 1;
            display: -moz-box;  /* Firefox */ 
            display: -ms-flexbox;    /* IE10 */ 
            display: -webkit-box;    /* Safari */  
            display: -webkit-flex;    /* Chrome, WebKit */ 
            display: box;  
            display: flexbox;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .up {
                font-size: .34rem;
                font-weight: bold;
                display: -moz-box;  /* Firefox */ 
                display: -ms-flexbox;    /* IE10 */ 
                display: -webkit-box;    /* Safari */  
                display: -webkit-flex;    /* Chrome, WebKit */ 
                display: box;  
                display: flexbox;
                display: flex;
                justify-content: start;
                align-items: center;
                width: 6rem;
                height: .35rem;

                .title {
                    margin-right: .1rem;
                    // overflow: hidden;
                    // word-break: break-all;
                    // text-overflow: ellipsis;
                    // display: -webkit-box;
                    // -webkit-box-orient: vertical;
                    // -webkit-line-clamp: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-top: .01rem;
                }

                img {
                    margin-top: .01rem;
                    width: .3rem;
                    height: .3rem;
                }
            }

            .center {
                display: -moz-box;  /* Firefox */ 
                display: -ms-flexbox;    /* IE10 */ 
                display: -webkit-box;    /* Safari */  
                display: -webkit-flex;    /* Chrome, WebKit */ 
                display: box;  
                display: flexbox;
                display: flex;
                flex-wrap: wrap;
                margin-top: .2rem;

                img {
                    border-radius: .06rem;
                    width: 1.34rem;
                    height: 1.34rem;
                    margin-right: .25rem;
                }
            }

            .down {
                display: -moz-box;  /* Firefox */ 
                display: -ms-flexbox;    /* IE10 */ 
                display: -webkit-box;    /* Safari */  
                display: -webkit-flex;    /* Chrome, WebKit */ 
                display: box;  
                display: flexbox;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: .3rem;

                .icon {
                    width: .7rem;
                    height: .34rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .right {
                    display: -moz-box;  /* Firefox */ 
                    display: -ms-flexbox;    /* IE10 */ 
                    display: -webkit-box;    /* Safari */  
                    display: -webkit-flex;    /* Chrome, WebKit */ 
                    display: box;  
                    display: flexbox;
                    display: flex;
                    align-items: center;
                    font-size: .24rem;
                    color: #626262;
                    height: .34rem;

                    .discuss1 {
                        margin-right: .5rem
                    }

                    .hot {
                        display: -moz-box;  /* Firefox */ 
                        display: -ms-flexbox;    /* IE10 */ 
                        display: -webkit-box;    /* Safari */  
                        display: -webkit-flex;    /* Chrome, WebKit */ 
                        display: box;  
                        display: flexbox;
                        display: flex;
                        justify-content: start;
                        align-items: center;

                        span:nth-child(1) {
                            font-size: .24rem;
                            color: #626262;
                        }

                        img {
                            height: .14rem;
                            width: .1rem;
                            margin-left: .1rem;
                        }

                        span:nth-child(3) {
                            font-size: .2rem;
                            color: #e32626;
                            font-weight: lighter;
                        }


                    }
                }

                .right2 {
                    display: -moz-box;  /* Firefox */ 
                    display: -ms-flexbox;    /* IE10 */ 
                    display: -webkit-box;    /* Safari */  
                    display: -webkit-flex;    /* Chrome, WebKit */ 
                    display: box;  
                    display: flexbox;
                    display: flex;
                    align-items: center;
                    font-size: .24rem;
                    color: #626262;
                    height: .34rem;

                    .discuss2 {
                        display: -moz-box;  /* Firefox */ 
                        display: -ms-flexbox;    /* IE10 */ 
                        display: -webkit-box;    /* Safari */  
                        display: -webkit-flex;    /* Chrome, WebKit */ 
                        display: box;  
                        display: flexbox;
                        display: flex;
                        margin-right: .2rem;

                        .girl {
                            margin-right: .1rem;

                            span:nth-child(2) {
                                color: #f27676;
                            }
                        }

                        .man {
                            span:nth-child(2) {
                                color: #5fa7f0;
                            }
                        }
                    }

                    .hot {
                        display: -moz-box;  /* Firefox */ 
                        display: -ms-flexbox;    /* IE10 */ 
                        display: -webkit-box;    /* Safari */  
                        display: -webkit-flex;    /* Chrome, WebKit */ 
                        display: box;  
                        display: flexbox;
                        display: flex;
                        justify-content: start;
                        align-items: center;

                        span:nth-child(1) {
                            font-size: .24rem;
                            color: #626262;
                        }

                        img {
                            height: .14rem;
                            width: .1rem;
                            margin-left: .1rem;
                        }

                        span:nth-child(3) {
                            font-size: .2rem;
                            color: #e32626;
                            font-weight: lighter;
                        }


                    }
                }
            }
        }
    }

    .crtive1{
        color: #d33936;
    }

    .crtive2{
        color: #e67e30;
    }

    .crtive3{
        color: #eab489;
    }

    .cr_AD {
        width: 100%;
        height: 2.4rem;
        border-radius: .1rem;
        margin-bottom: .15rem;
        box-shadow: -1px 0px 4px 0px #ada4a4;
        img{
            width: 100%;
            height: 100%;
            border-radius: .1rem;
        }
    }

    .answer {
        background-color: #ffffff;
        border-radius: .1rem;
        padding: .2rem .2rem .15rem;
        margin-bottom: .15rem;
        box-shadow: -1px 0px 4px 0px #ada4a4;

        .answer_title {
            font-size: .26rem;
            color: #333333;
            margin-bottom: .24rem;
        }

        .answer_question {
            font-size: .32rem;
            font-weight: bold;
            color: #333333;
            margin-bottom: .16rem;

            img {
                width: .32rem;
                height: .32rem;
            }
        }

        .question_content {
            display: -moz-box;  /* Firefox */ 
            display: -ms-flexbox;    /* IE10 */ 
            display: -webkit-box;    /* Safari */  
            display: -webkit-flex;    /* Chrome, WebKit */ 
            display: box;  
            display: flexbox;
            display: flex;

            .content_left {
                -prefix-box-flex: 1; 
                -webkit-box-flex: 1; 
                -webkit-flex: 1; 
                -moz-box-flex: 1; 
                -ms-flex: 1;
                flex: 1;
                margin-right: .2rem;

                .article {
                    font-size: .28rem;
                    font-weight: lighter;
                    color: #333333;
                    overflow: hidden;
                    word-break: break-all;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    line-height: 1.2;
                    margin-bottom: .3rem;
                }

                .zan {
                    font-size: .24rem;
                    font-weight: normal;
                    color: #333333;
                    display: -moz-box;  /* Firefox */ 
                    display: -ms-flexbox;    /* IE10 */ 
                    display: -webkit-box;    /* Safari */  
                    display: -webkit-flex;    /* Chrome, WebKit */ 
                    display: box;  
                    display: flexbox;
                    display: flex;
                    align-items: center;

                    img {
                        width: .3rem;
                        height: .3rem;
                    }

                    .m {
                        margin: 0 .7rem;
                    }
                }
            }

            .content_right {
                width: 1.48rem;
                height: 1.48rem;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: .1rem;
                }
            }
        }
    }

    .case {
        padding: .12rem .2rem .12rem;
        background-color: #ffffff;
        border-radius: .1rem;
        margin-bottom: .15rem;
        box-shadow: -1px 0px 4px 0px #ada4a4;

        .case_title {
            font-size: .32rem;
            color: #333333;
            margin-bottom: .14rem;

            img {
                margin-left: .06rem;
                width: .32rem;
                height: .32rem;
            }
        }

        .case_content {
            display: -moz-box;  /* Firefox */ 
            display: -ms-flexbox;    /* IE10 */ 
            display: -webkit-box;    /* Safari */  
            display: -webkit-flex;    /* Chrome, WebKit */ 
            display: box;  
            display: flexbox;
            display: flex;
            align-items: flex-start;

            img {
                width: 1.34rem;
                margin-right: .14rem;
            }

            .case_right {
                .case_article {
                    font-size: .28rem;
                    font-weight: lighter;
                    color: #333333;
                    overflow: hidden;
                    word-break: break-all;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    line-height: 1.2;
                    margin-bottom: .14rem;
                }

                .article_down {
                    display: -moz-box;  /* Firefox */ 
                    display: -ms-flexbox;    /* IE10 */ 
                    display: -webkit-box;    /* Safari */  
                    display: -webkit-flex;    /* Chrome, WebKit */ 
                    display: box;  
                    display: flexbox;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .label {
                        background: rgba(255, 255, 255, 1);
                        box-shadow: -1px 0px 7px 0px rgba(84, 84, 84, 0.15);
                        border-radius: .04rem;
                        font-size: .24rem;
                        font-weight: lighter;
                        color: #e5a458;
                        padding: .1rem .2rem;
                    }

                    .zan {
                        display: -moz-box;  /* Firefox */ 
                        display: -ms-flexbox;    /* IE10 */ 
                        display: -webkit-box;    /* Safari */  
                        display: -webkit-flex;    /* Chrome, WebKit */ 
                        display: box;  
                        display: flexbox;
                        display: flex;
                        align-items: center;
                        margin-right: .2rem;
                        font-size: .24rem;
                        color: #333333;

                        img {
                            width: .3rem;
                            height: .3rem;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .el-loading-mask {
        bottom: 50% !important;
    }
}

.hot_noMore{
    width: 100%;
    height: 11.2rem;
    line-height: 11.2rem;
    text-align: center;
    font-size:0.3rem;
    color:#6f6f6f;
    background-color: #ffffff;
}