// 头部区域
.header {
    width: 100%;
    height: 5.46rem;
    padding: 0 .2rem;
    position: relative;

    .header_bg {
        position: absolute;
        height: 5.46rem;
        left: 0;
        top: 0;
        width: 100%;
    }

    // 头-顶部
    .header_top {
        height: .8rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon_left {
            position: absolute;
            height: .5rem;
            width: .45rem;
            background: url('../../src/assets/img/index/two.png') no-repeat;
            background-size: .45rem .5rem;
        }

        .icon_right {
            position: absolute;
            right: 0.2rem;
            width: 1.58rem;
            height: .5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon_en {
                height: .5rem;
                width: .45rem;
                background: url('../../src/assets/img/index/En.png') no-repeat;
                background-size: .45rem .5rem;
            }

            .message {
                width: .58rem;
                height: .5rem;
                position: relative;

                .icon_message {
                    height: .5rem;
                    width: .58rem;
                    background: url('../../src/assets/img/index/En-message.png') no-repeat;
                    background-size: .58rem .5rem;
                }

                .message {
                    position: absolute;
                    right: -0.11rem;
                    top: -0.05rem;
                    width: .22rem;
                    height: .22rem;
                    border-radius: 50%;
                    background: #e42222;
                    font-size: .2rem;
                    color: #ffffff;
                    text-align: center;
                    line-height: .22rem;
                }
            }
        }
    }

    // 头-导航栏
    .header_nav {
        width: 7.1rem;
        height: .8rem;
        background:rgba(54,54,54, 0.5);
        opacity: 0.99;
        margin: .28rem auto 0;
        border-radius: .06rem;
        display: flex;
        justify-content: space-between;
        padding: 0 .2rem;

        .nav_list {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-size: .28rem;
            &:first-child{
                font-size: .3rem;
                font-weight: bold;
            }
        }
    }

    // 头-搜索框
    .header_search {
        position: absolute;
        width: 6.04rem;
        height: .88rem;
        background: #ffffff;
        border-radius: .1rem;
        bottom: .9rem;
        left: .73rem;

        .icon_glass {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: .28rem;
                height: .28rem;
            }

            span {
                margin-left: .2rem;
                font-size: .3rem;
                color: #777777;
            }
        }
    }
}

// 主体区域
#main {
    width: 100%;

    // 主体上半区
    .main_up {
        width: 100%;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 154, 100, 1) 45%);

        // 热搜
        .hot {
            width: 100%;
            color: #ffffff;
            padding: .24rem .2rem 0;

            h3 {
                font-size: .28rem;
                margin-bottom: .34rem;
            }

            .hot_question {
                height: .5rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: .5rem;

                .left {
                    font-size: .34rem;
                    line-height: .5rem;
                    text-align: left;
                    width: 55%;
                    overflow: hidden;
                    word-break: break-all;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;

                    span {
                        border-bottom: 1px solid #ffffff;

                    }

                    img {
                        width: .3rem;
                        height: .3rem;
                    }
                }

                .discussion2 {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;

                    .up {
                        margin-right: .1rem;

                        span:nth-child(1) {
                            font-size: .22rem;
                            color: #b8daca;
                        }

                        img {
                            width: 0.1rem;
                            height: 0.14rem;
                            margin-bottom: .05rem;
                            margin-left: .05rem;
                        }

                        span:nth-child(3) {
                            font-size: .18rem;
                            color: #e12725;
                        }
                    }

                    .down2 {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            font-size: .2rem;
                            margin-right: .03rem;
                        }

                        .girl {
                            span:nth-child(2) {
                                color: #Ed7a7a;
                            }
                        }

                        .man {
                            span:nth-child(2) {
                                color: #57b6f5;
                            }
                        }
                    }
                }

                .discussion1 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    .up {
                        width: 1rem;
                        margin-bottom: .08rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        span:nth-child(1) {
                            font-size: .22rem;
                            color: #b8daca;
                        }

                        img {
                            widows: 0.1em;
                            height: 0.14rem;
                            margin-left: .05rem;
                        }

                        span:nth-child(3) {
                            font-size: .18rem;
                            color: #e12725;
                        }
                    }

                    .down1 {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            font-size: .2rem;
                        }
                    }
                }
            }

            .more {
                text-align: right;
                font-size: .26rem;

                a {
                    color: #ffffff;
                    border-bottom: 1px solid #ffffff;
                }
            }
        }

        // 专家
        .specialist {
            width: 100%;
            margin-top: .74rem;
            padding: 0 .2rem;

            // 专家上半区
            .specialist_up {
                display: flex;

                .left_swiper {
                    position: relative;
                    width: 70%;
                    height: 3.46rem;
                    border-radius: .1rem;
                    overflow: hidden;

                    .swiper-container {
                        width: 100%;
                        height: 3.46rem;

                        .swiper-slide {

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .swiper-pagination {
                        position: absolute;
                        right: .1rem;
                        bottom: .1rem;

                        span {
                            margin-right: .05rem;
                            width: .14rem;
                            height: .14rem;
                        }
                    }

                    .swiper-pagination-bullet {
                        // background-color: #a2a2a2;
                    }

                    .swiper-pagination-bullet-active {
                        background-color: #009d65;
                    }
                }

                .contact_specialist {
                    width: 30%;
                    color: #ffffff;
                    font-size: .32rem;

                    .we {
                        margin-left: .3rem;
                        height: .8rem;
                        width: 1.92rem;
                        border-radius: .1rem;
                        border: 1px solid #ffffff;
                        text-align: center;
                        line-height: .8rem;
                    }

                    .doctor {
                        margin-left: .6rem;
                        margin-top: .75rem;

                        a {
                            color: #ffffff;
                            font-size: .32rem;
                        }
                    }
                }
            }

            // 专家下半区
            .specialist_down {
                display: flex;
                margin-top: .2rem;

                .help {
                    width: 45%;
                    background: #50bc95;
                    border-radius: .1rem;
                    text-align: center;

                    .content1 {
                        color: #ffffff;
                        line-height: 2.82rem;

                        span:first-child {
                            font-size: .32rem
                        }

                        span:last-child {
                            margin-left: .1rem;
                            font-size: .22rem
                        }
                    }
                }

                .ask {
                    margin-left: .2rem;
                    width: 55%;
                    background: #50bc95;
                    border-radius: .1rem;
                    text-align: center;

                    .content2 {
                        line-height: 2.82rem;
                        font-size: .32rem;
                        color: #ffffff;
                    }
                }
            }
        }

        // 客户展示
        .user_show {
            width: 100%;
            margin-top: .1rem;
            padding: 0 .2rem;
            display: flex;
            flex-wrap: wrap;
            height: 7rem;
            overflow: hidden;
            position: relative;

            .user_list {
                width: 50%;
                margin-top: .75rem;
                padding-right: .2rem;

                // 内容展示区
                .user_content {
                    position: relative;
                    height: 3.2rem;
                    width: 100%;
                    background: rgba(215, 239, 231, 1);
                    border-radius: .1rem;

                    >img {
                        position: absolute;
                        left: .34rem;
                        top: -0.3rem;
                        width: .9rem;
                        height: .9rem;
                        border-radius: 50%;
                    }

                    .user_picture {
                        height: 1.12rem;
                        position: absolute;
                        top: 1rem;
                        left: .3rem;


                        >img {
                            width: 1.12rem;
                            height: 100%;
                            border-radius: .06rem;
                            margin-right: .14rem;
                        }
                    }

                    .user_question {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: .72rem;
                        width: 100%;
                        background-color: #f0f9f6;
                        line-height: .72rem;
                        padding-left: .14rem;
                        border-radius: 0 0 .1rem .1rem;

                        span {
                            color: #505050;
                            font-size: .28rem;
                        }
                    }
                }

                // 点赞评论区
                .zan {
                    width: 100%;
                    color: #505050;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin-top: .26rem;
                    padding-right: .3rem;

                    .zan_message {
                        display: flex;
                        align-items: center;
                        margin-right: .3rem;

                        img {
                            width: .24rem;
                        }

                        span {
                            margin-left: .05rem;
                            font-size: .26rem;
                        }
                    }

                    .zan_heart {
                        display: flex;
                        align-items: center;

                        img {
                            width: .24rem;
                        }

                        span {
                            margin-left: .05rem;
                            font-size: .26rem;
                        }
                    }
                }
            }

            .more {
                width: 100%;
                color: #009965;
                font-size: .26rem;
                text-align: center;
                margin-top: .6rem;
            }

            .mask {
                padding: 0 .2rem;
                width: 100%;
                height: 2.3rem;
                background: url('../../src/assets/img/index/111.png') no-repeat;
                opacity: .95;
                position: absolute;
                background-size: 100% 100%;
                bottom: 0;
                left: 0;

                img {
                    width: .2rem;
                    height: .3rem;
                    position: absolute;
                    right: .5rem;
                }
            }
        }
    }

    // 主体下半区
    .main_down {
        width: 100%;
        background-color: #ffffff;

        // 不同人群
        .different_persons {
            width: 100%;
            background-color: #ffffff;
            padding: 1.1rem .2rem 0;

            .persons_category {
                display: flex;
                color: #777777;
                font-size: .32rem;
                margin-left: .3rem;
                height: .55rem;

                div {
                    margin-right: 1.22rem;
                }
                .active{
                    background: url('../../src/assets/img/index/underline-big.png') no-repeat;
                    background-size: 100%;
                    background-position: 0 0.35rem;
                    font-size: .36rem;
                    font-weight: bold;
                    color: #009965;
                }
            }

            .title_level1 {
                margin-top: .36rem;
                display: flex;
                flex-wrap: wrap;

                .level1_list {
                    height: .6rem;
                    font-size: .3rem;
                    border: 1px solid #bfbfbf;
                    color: #333333;
                    border-radius: .1rem;
                    text-align: center;
                    line-height: .6rem;
                    padding: 0 .1rem;
                    margin-right: .2rem;
                    margin-top: .1rem;
                    font-weight: lighter;
                }

                .active{
                    background-color: #009965;
                    font-weight: normal;
                    color: #ffffff;
                }
            }

            .title_level2 {
                margin-top: .16rem;
                display: flex;
                flex-wrap: wrap;

                .level2_list {
                    height: .6rem;
                    font-size: .28rem;
                    border: 1px solid #bfbfbf;
                    color: #333333;
                    border-radius: .1rem;
                    text-align: center;
                    line-height: .6rem;
                    padding: 0 .1rem;
                    margin-right: .4rem;
                    margin-top: .2rem;
                    font-weight: lighter;
                }

                .active{
                    background-color: #64a28d;
                    font-weight: normal;
                    color: #ffffff;
                }
            }

            .persons_question {

                .persons_question_list {
                    display: flex;
                    flex-wrap: wrap;

                    .question_details {
                        margin-right: 1.3rem;
                        margin-top: .45rem;
                        border-bottom: 1px solid #459ee9;

                        a {
                            color: #459ee9;
                            font-size: .34rem;
                        }
                    }
                }

                .more {
                    margin-top: .3rem;
                    text-align: right;

                    a {
                        color: #459ee9;
                        font-size: .24rem;
                    }
                }


            }

            .tooth_swiper {
                height: 1.78rem;
                width: 100%;
                margin-top: .5rem;

                .swiper-container {
                    width: 100%;
                    height: 1.78rem;

                    .swiper-slide {
                        height: 1.78rem;
                        width: 1.78rem;
                        margin-right: .1rem!important;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: .1rem;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        // 文章
        .article {
            width: 100%;
            padding: 0 .2rem;
            margin-top: .8rem;

            .article_title {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: .3rem;
                color: #8b8b8b;
                padding-right: .3rem;
                margin-bottom: .6rem;

                .line {
                    color: #009965;
                    margin: 0 .32rem;
                }

                .active{
                    font-size: .32rem;
                    font-weight: bold;
                    color: #009965;
                }
            }

            .article_content {
                width: 100%;
                display: flex;

                .article_content_left {
                    width: 55%;
                    border-right: .01rem solid #d1d1d1;

                    .article_module {
                        width: 100%;
                        border-bottom: 1px solid #d1d1d1;
                        padding-right: .2rem;

                        .title {
                            font-size: .32rem;
                            font-weight: bold;
                            color: #333333;
                            margin-top: .4rem;
                        }

                        .icon {
                            margin: .08rem 0 .2rem;

                            img {
                                width: .8rem;
                                height: .4rem;
                                border-radius: .1rem;
                            }
                        }

                        .article_img {
                            width: 2.02rem;
                            height: 1.56rem;

                            img {
                                max-width: 3.9rem;
                                border-radius: .1rem;
                                height: 100%;
                            }
                        }

                        .article_details {
                            margin-top: .32rem;
                            font-size: .28rem;
                            color: #707070;
                            overflow: hidden;
                            word-break: break-all;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 5;
                            line-height: 1.2;
                        }

                        .read_Num {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-right: .2rem;
                            padding-bottom: .4rem;
                            margin-top: .5rem;

                            .left {
                                font-size: .26rem;
                                color: #474747;

                                span:last-child {
                                    margin-left: .1rem;
                                }
                            }

                            .right {
                                display: flex;
                                align-items: center;
                                font-size: .26rem;
                                color: #474747;

                                img {
                                    width: .26rem;
                                    height: .26rem;
                                    border-radius: .1rem;
                                }
                            }
                        }
                    }

                    .video_module {
                        width: 100%;
                        border-bottom: 1px solid #d1d1d1;
                        padding-right: .2rem;

                        .title {
                            margin-top: .4rem;
                            font-size: .32rem;
                            font-weight: bold;
                            color: #333333;
                        }

                        .icon {
                            margin: .08rem 0 .2rem;

                            img {
                                width: .8rem;
                                height: .4rem;
                                border-radius: .1rem;
                            }
                        }

                        .article_img {
                            width: 3.9rem;
                            height: 2.2rem;
                            margin-left: .3rem;
                       
                            .videoPlay {
                                max-width: 3.9rem;
                                border-radius: .1rem;
                                height: 100%;
                            }
                        }

                        .read_Num {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-right: .2rem;
                            padding-bottom: .4rem;
                            margin-top: .5rem;

                            .left {
                                font-size: .26rem;
                                color: #474747;

                                span:last-child {
                                    margin-left: .1rem;
                                }
                            }

                            .right {
                                display: flex;
                                align-items: center;
                                font-size: .26rem;
                                color: #474747;

                                img {
                                    width: .26rem;
                                    height: .26rem;
                                    border-radius: .1rem;
                                }
                            }
                        }
                    }

                    .doc_module {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-bottom: 1px solid #d1d1d1;

                        >img {
                            width: 100%;
                            margin-bottom: .18rem;
                            border-radius: .1rem;
                        }

                        .doc_name {
                            padding-bottom: .78rem;

                            span:nth-child(1) {
                                font-size: .32rem;
                                color: #65A0E3;
                            }

                            span:last-child {
                                margin-left: .1rem;
                                font-size: .26rem;
                                color: #333333;
                            }
                        }
                    }

                    .answer_module {
                        width: 100%;
                        border-bottom: 1px solid #d1d1d1;
                        padding-right: .2rem;

                        .title {
                            font-size: .32rem;
                            font-weight: bold;
                            color: #333333;
                            margin-top: .4rem;
                        }

                        .icon {
                            margin: .08rem 0 .2rem;

                            img {
                                width: .8rem;
                                height: .4rem;
                                border-radius: .1rem;
                            }
                        }

                        .article_details {
                            margin-top: .32rem;
                            font-size: .28rem;
                            color: #707070;
                            overflow: hidden;
                            word-break: break-all;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 5;
                            line-height: 1.2;
                        }

                        .read_Num {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-right: .2rem;
                            padding-bottom: .4rem;
                            margin-top: .5rem;

                            .left {
                                font-size: .26rem;
                                color: #474747;

                                span:last-child {
                                    margin-left: .1rem;
                                }
                            }

                            .right {
                                display: flex;
                                align-items: center;
                                font-size: .26rem;
                                color: #474747;

                                img {
                                    width: .26rem;
                                    height: .26rem;
                                    border-radius: .1rem;
                                }
                            }
                        }
                    }
                }

                .article_content_right {
                    width: 45%;

                    .answer_module {
                        width: 100%;
                        border-bottom: 1px solid #d1d1d1;
                        padding-left: .2rem;

                        .title {
                            font-size: .32rem;
                            font-weight: bold;
                            color: #333333;
                            margin-top: .4rem;
                        }

                        .icon {
                            margin: .08rem 0 .2rem;

                            img {
                                width: .8rem;
                                height: .4rem;
                                border-radius: .1rem;
                            }
                        }

                        .article_details {
                            margin-top: .32rem;
                            font-size: .28rem;
                            color: #707070;
                            overflow: hidden;
                            word-break: break-all;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 5;
                            line-height: 1.2;
                        }

                        .read_Num {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-bottom: .4rem;
                            margin-top: .5rem;

                            .left {
                                font-size: .26rem;
                                color: #474747;

                                span:last-child {
                                    margin-left: .1rem;
                                }
                            }

                            .right {
                                display: flex;
                                align-items: center;
                                font-size: .26rem;
                                color: #474747;

                                img {
                                    width: .26rem;
                                    height: .26rem;
                                    border-radius: .1rem;
                                }
                            }
                        }
                    }

                    .doc_module {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-bottom: 1px solid #d1d1d1;

                        >img {
                            width: 100%;
                            margin-bottom: .18rem;
                            border-radius: .1rem;
                        }

                        .doc_name {
                            padding-bottom: .78rem;

                            span:nth-child(1) {
                                font-size: .32rem;
                                color: #65A0E3;
                            }

                            span:last-child {
                                margin-left: .1rem;
                                font-size: .26rem;
                                color: #333333;
                            }
                        }
                    }

                    .article_module {
                        width: 100%;
                        border-bottom: 1px solid #d1d1d1;
                        padding-left: .2rem;

                        .title {
                            font-size: .32rem;
                            font-weight: bold;
                            color: #333333;
                            margin-top: .4rem;
                        }

                        .icon {
                            margin: .08rem 0 .2rem;

                            img {
                                width: .8rem;
                                height: .4rem;
                                border-radius: .1rem;
                            }
                        }

                        .article_img {
                            width: 2.02rem;
                            height: 1.56rem;

                            img {
                                max-width: 3.9rem;
                                border-radius: .1rem;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .article_details {
                            margin-top: .32rem;
                            font-size: .28rem;
                            color: #707070;
                            overflow: hidden;
                            word-break: break-all;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 5;
                            line-height: 1.2;
                        }

                        .read_Num {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-bottom: .4rem;
                            margin-top: .5rem;

                            .left {
                                font-size: .26rem;
                                color: #474747;

                                span:last-child {
                                    margin-left: .1rem;
                                }
                            }

                            .right {
                                display: flex;
                                align-items: center;
                                font-size: .26rem;
                                color: #474747;

                                img {
                                    width: .26rem;
                                    height: .26rem;
                                    border-radius: .1rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        // 深圳矫正100
        .SZ100 {
            width: 100%;
            height: 10rem;

            .SZ100_title {
                height: .76rem;
                color: #6ca5f2;
                font-size: .34rem;
                font-weight: bold;
                margin: 0 .2rem;
                box-shadow: -1px 0px 12px 0px rgba(84, 84, 84, 0.28);
                border-radius: .1rem .1rem 0 0;
                padding: .24rem 0 .2rem .32rem;
            }

            .SZ100_img {
                img {
                    width: 100%;
                    height: 2.66rem;
                }
            }

            .SZ_question {
                box-shadow: -1px 0px 12px 0px rgba(84, 84, 84, 0.28);
                margin: 0 .2rem;
                border-radius: 0 0 .1rem .1rem;

                .question_list {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding-top: .2rem;
                    padding-left: .2rem;

                    .left {
                        width: 55%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .question {
                            display: flex;
                            justify-content: center;
                            img {
                                width: .5rem;
                                height: .5rem;
                                margin-right: .1rem;
                            }

                            span {
                                overflow: hidden;
                                word-break: break-all;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                                font-size: .34rem;
                                color: #d14840;
                                line-height: 1.5;
                            }
                        }

                        .question_img {

                            img {
                                width: 1.12rem;
                                height: 1.12rem;
                                border-radius: .06rem;
                                margin-right: .1rem;
                                margin-bottom: .1rem;
                            }
                        }
                    }

                    .discussion1 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        padding-right: .2rem;
    
                        .up {
                            width: 1rem;
                            margin-bottom: .1rem;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
    
                            span:nth-child(1) {
                                font-size: .22rem;
                                color: #969696;
                            }
    
                            img {
                                widows: 0.1em;
                                height: 0.14rem;
                                margin-left: .05rem;
                            }
    
                            span:nth-child(3) {
                                font-size: .18rem;
                                color: #e12725;
                            }
                        }
    
                        .down1 {
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            span {
                                font-size: .2rem;
                            }
                        }
                    }

                    .discussion2 {
                        width: 45%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: center;
                        padding-right: .09rem;
    
                        .up {
                            margin-right: .1rem;
                            margin-bottom: .1rem;
                            display: flex;
                            align-items: center;
    
                            span:nth-child(1) {
                                font-size: .22rem;
                                color: #969696;
                            }
    
                            img {
                                width: 0.1rem;
                                height: 0.14rem;
                                margin-left: .05rem;
                            }
    
                            span:nth-child(3) {
                                font-size: .18rem;
                                color: #e12725;
                            }
                        }
    
                        .down2 {
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            span {
                                font-size: .2rem;
                                margin-right: .03rem;
                            }
    
                            .girl {
                                span:nth-child(2) {
                                    color: #Ed7a7a;
                                }
                            }
    
                            .man {
                                span:nth-child(2) {
                                    color: #57b6f5;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }


}

// 悬浮search
.suspend_search {
    z-index: 888;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 0 .1rem .1rem;
    background-color: #363636;
    width: 100%;
    height: 1.9rem;

    .search {
        height: .62rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .38rem 0 .3rem;

        .mine_icon {
            height: 100%;
            line-height: .62rem;
            margin-right: .2rem;

            img {
                width: .4rem;
            }
        }

        .search_box {
            position: relative;
            height: 100%;
            width: 6.02rem;
            background-color: #ffffff;
            border-radius: .1rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: .28rem;
                height: .28rem;
            }

            span {
                margin-left: .2rem;
                font-size: .28rem;
                color: #777777;
            }
        }
    }

    .search_nav {
        display: flex;
        font-size: .28rem;
        color: #ffffff;
        justify-content: space-between;
        padding: 0 .4rem;
        .nav_list:first-child{
            font-size: .3rem;
            font-weight: bold;
        }
    }
}