// 通用底部
#footer {
    // 固定定位到底部
    position: fixed;
    left: 0;
    bottom: 0;
    // 一定要设置宽度
    width: 100%;
    background-color: #fff;
    height: 1.2rem;
    z-index: 999;

    ul {
        display: flex;
        height: 100%;

        li {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            // 垂直排列
            flex-direction: column;

            a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                // 垂直排列
                flex-direction: column;

                .house1{
                    width: .56rem;
                    height: .54rem;
                    background: url('../src/assets/img/Bottom_bar/house1.png') no-repeat;
                    background-size: .56rem .54rem;
                }

                .house2{
                    width: .56rem;
                    height: .54rem;
                    background: url('../src/assets/img/Bottom_bar/house2.png') no-repeat;
                    background-size: .56rem .54rem;
                }

                .location1{
                    width: .56rem;
                    height: .54rem;
                    background: url('../src/assets/img/Bottom_bar/location1.png') no-repeat;
                    background-size: .56rem .54rem;
                }

                .location2{
                    width: .56rem;
                    height: .54rem;
                    background: url('../src/assets/img/Bottom_bar/location2.png') no-repeat;
                    background-size: .56rem .54rem;
                }
                
                .message1{
                    width: .56rem;
                    height: .54rem;
                    background: url('../src/assets/img/Bottom_bar/message1.png') no-repeat;
                    background-size: .56rem .54rem;
                }

                .message2{
                    width: .56rem;
                    height: .54rem;
                    background: url('../src/assets/img/Bottom_bar/message2.png') no-repeat;
                    background-size: .56rem .54rem;
                }

                .mine1{
                    width: .56rem;
                    height: .54rem;
                    background: url('../src/assets/img/Bottom_bar/mine1.png') no-repeat;
                    background-size: .56rem .54rem;
                }

                .mine2{
                    width: .56rem;
                    height: .54rem;
                    background: url('../src/assets/img/Bottom_bar/mine2.png') no-repeat;
                    background-size: .56rem .54rem;
                }
                
                span {
                    font-size: .24rem;
                    color: #717171;
                    margin-top: .1rem;
                    display: block;
                    text-align: center;
                }

                .sp1{
                    color: #009965;
                }
            }


        }
    }
}


$color: rgba(255, 255, 255, 1);
$green: rgba(178, 211, 70, 1);
$green1: rgba(125, 182, 0, 1);
// 通用头部
.login_header {
    width: 100%;
    height: 0.9rem;
    background: linear-gradient(0deg, $color, $color);
    border-bottom: 0.01rem solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;

    .header_return {
        width: 1.1rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon_return {
            width: .17rem;
            height: .32rem;
            background: url('../src/assets/img/login/return.png') no-repeat;
            background-size: 100% 100%;
        }
    }

    .header_title {
        flex: 1;
        text-align: center;
        font-size: 0.32rem;
        color: #333333;
    }

    .header_kong {
        width: 1.1rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon_message {
            width: .42rem;
            height: .38rem;
            background: url('../src/assets/img//index/doctorList/message.png') no-repeat;
            background-size: .4rem .4rem;
        }
    }
}